[submodule "ArduinoAccelerometerDriver"]
  path = ArduinoAccelerometerDriver
  url = git@github.com:dalmirdasilva/ArduinoAccelerometerDriver.git
[submodule "ArduinoCube"]
  path = ArduinoCube
  url = git@github.com:dalmirdasilva/ArduinoCube.git
[submodule "ArduinoGps"]
  path = ArduinoGps
  url = git@github.com:dalmirdasilva/ArduinoGps.git
[submodule "ArduinoIO"]
  path = ArduinoIO
  url = git@github.com:dalmirdasilva/ArduinoIO.git
[submodule "ArduinoNaiveBayesClassifierLibrary"]
  path = ArduinoNaiveBayesClassifierLibrary
  url = git@github.com:dalmirdasilva/ArduinoNaiveBayesClassifierLibrary.git
[submodule "ArduinoResourceBasedFileSystemLibrary"]
  path = ArduinoResourceBasedFileSystemLibrary
  url = git@github.com:dalmirdasilva/ArduinoResourceBasedFileSystemLibrary.git
[submodule "ArduinoBarometer"]
  path = ArduinoBarometer
  url = git@github.com:dalmirdasilva/ArduinoBarometer.git
[submodule "ArduinoDevice"]
  path = ArduinoDevice
  url = git@github.com:dalmirdasilva/ArduinoDevice.git
[submodule "ArduinoGraphicalLiquidCrystalDriver"]
  path = ArduinoGraphicalLiquidCrystalDriver
  url = git@github.com:dalmirdasilva/ArduinoGraphicalLiquidCrystalDriver.git
[submodule "ArduinoIOExpanderDriver"]
  path = ArduinoIOExpanderDriver
  url = git@github.com:dalmirdasilva/ArduinoIOExpanderDriver.git
[submodule "ArduinoNavigationProtocol"]
  path = ArduinoNavigationProtocol
  url = git@github.com:dalmirdasilva/ArduinoNavigationProtocol.git
[submodule "ArduinoBrushlessGimbal"]
  path = ArduinoBrushlessGimbal
  url = git@github.com:dalmirdasilva/ArduinoBrushlessGimbal.git
[submodule "ArduinoRFCloner"]
  path = ArduinoRFCloner
  url = git@github.com:dalmirdasilva/ArduinoRFCloner.git
[submodule "ArduinoDistanceDriver"]
  path = ArduinoDistanceDriver
  url = git@github.com:dalmirdasilva/ArduinoDistanceDriver.git
[submodule "ArduinoGraphicalLiquidCrystalLibrary"]
  path = ArduinoGraphicalLiquidCrystalLibrary
  url = git@github.com:dalmirdasilva/ArduinoGraphicalLiquidCrystalLibrary.git
[submodule "ArduinoLedMatrixDriver"]
  path = ArduinoLedMatrixDriver
  url = git@github.com:dalmirdasilva/ArduinoLedMatrixDriver.git
[submodule "ArduinoNazaDecoder"]
  path = ArduinoNazaDecoder
  url = git@github.com:dalmirdasilva/ArduinoNazaDecoder.git
[submodule "ArduinoCamera"]
  path = ArduinoCamera
  url = git@github.com:dalmirdasilva/ArduinoCamera.git
[submodule "ArduinoRSLibrary"]
  path = ArduinoRSLibrary
  url = git@github.com:dalmirdasilva/ArduinoRSLibrary.git
[submodule "ArduinoEclipse"]
  path = ArduinoEclipse
  url = git@github.com:dalmirdasilva/ArduinoEclipse.git
[submodule "ArduinoGsmDriver"]
  path = ArduinoGsmDriver
  url = git@github.com:dalmirdasilva/ArduinoGsmDriver.git
[submodule "ArduinoMagnetometer"]
  path = ArduinoMagnetometer
  url = git@github.com:dalmirdasilva/ArduinoMagnetometer.git
[submodule "ArduinoNIOLibrary"]
  path = ArduinoNIOLibrary
  url = git@github.com:dalmirdasilva/ArduinoNIOLibrary.git
[submodule "ArduinoColorRecognitionDriver"]
  path = ArduinoColorRecognitionDriver
  url = git@github.com:dalmirdasilva/ArduinoColorRecognitionDriver.git
[submodule "ArduinoSerialRadioFrequency"]
  path = ArduinoSerialRadioFrequency
  url = git@github.com:dalmirdasilva/ArduinoSerialRadioFrequency.git
[submodule "ArduinoGlcdDriver"]
  path = ArduinoGlcdDriver
  url = git@github.com:dalmirdasilva/ArduinoGlcdDriver.git
[submodule "ArduinoGyroscope"]
  path = ArduinoGyroscope
  url = git@github.com:dalmirdasilva/ArduinoGyroscope.git
[submodule "ArduinoMAX7219Driver"]
  path = ArduinoMAX7219Driver
  url = git@github.com:dalmirdasilva/ArduinoMAX7219Driver.git
[submodule "ArduinoParkingSensor"]
  path = ArduinoParkingSensor
  url = git@github.com:dalmirdasilva/ArduinoParkingSensor.git
[submodule "ArduinoTimer"]
  path = ArduinoTimer
  url = git@github.com:dalmirdasilva/ArduinoTimer.git
[submodule "ArduinoCore"]
  path = ArduinoCore
  url = git@github.com:dalmirdasilva/ArduinoCore.git
[submodule "ArduinoGlcdLibrary"]
  path = ArduinoGlcdLibrary
  url = git@github.com:dalmirdasilva/ArduinoGlcdLibrary.git
[submodule "ArduinoInterface"]
  path = ArduinoInterface
  url = git@github.com:dalmirdasilva/ArduinoInterface.git
[submodule "ArduinoMemoryDriver"]
  path = ArduinoMemoryDriver
  url = git@github.com:dalmirdasilva/ArduinoMemoryDriver.git
[submodule "ArduinoRemote"]
  path = ArduinoRemote
  url = git@github.com:dalmirdasilva/ArduinoRemote.git
[submodule "ArduinoWeatherSensorsDriver"]
  path = ArduinoWeatherSensorsDriver
  url = git@github.com:dalmirdasilva/ArduinoWeatherSensorsDriver.git
